/* vairantes de montserrat
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/


:root {
  --primary: #10613e;
  --primary-hover:#0c4029;
  --secondary:#213343;
  --secondary-hover:#0c141a;
  --primary-backgound:#eaf2ed;
  --gris-claro:#eeecec;
  --gris:#0f1a22;
  --negro: #080E06;
  --blanco: #FFF;
  --fuente-principal: 'Montserrat', sans-serif;
}

template {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}

img {
  max-width: 100%;
  display: block;
}

[class*="contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

[class$="heading"] {
  font-family: var(--fuente-principal);
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  color: var(--gris);
  margin: 5rem 0;
  margin: 0;
}

[class$="texto"]{
  line-height: 2;
  text-align: justify;
  margin: 0;
  padding: 0;
  color: var(--gris);
}

a{
  text-decoration: none;
  background-color: var(--gris);
  color: var(--gris);
  cursor: pointer;
}

button{
  border: none;
  cursor: pointer;
}
input{
  border: none;
}


