/* vairantes de montserrat
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

:root {
  /* --primary: #214d40; */
  --primary: #10613e;
  --navBar: ##4b6251;
  --primary-hover:#0c4029;
  --secondary:#213343;
  --secondary-hover:#0c141a;
  --primary-backgound:#eaf2ed;
  --gris-claro:#f1f7ef;
  --gris:#1a2a35;
  --negro: #080E06;
  --blanco: #FFF;
  --fuente-principal: 'Montserrat', sans-serif;
  --rojo: rgb(184, 50, 50);
  --gris-fuente:#2c4357;
  
  --card-padding: 1.5rem;
  --card-icon-size: 48px;
  --card-icon-size-mobile: 35px;
  --button-color: var(--secondary);
  --button-hover-color: var(--primary);
  --border-color: var(--gris-claro);
  --bg-color: var(--blanco);
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.15);
}

template {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.2rem;
  font-family: var(--fuente-principal);
  line-height: 1.5;
}

html, body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

[class*="contenedor"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

[class$="heading"] {
  font-family: var(--fuente-principal);
  font-size: 1.1rem;
  text-align: center;
  font-weight: 700;
  color: var(--gris);
  margin: 5rem 0;
  margin: 0;
}

[class$="texto"]{
  line-height: 2;
  text-align: justify;
  margin: 0;
  padding: 0;
  color: var(--gris);
}

a{
  text-decoration: none;
  background-color: none;
  cursor: pointer;
  color: var(--gris);
}

button{
  border: none;
  cursor: pointer;
}
input{
  border: none;
}

li{
  list-style-type: none;
}

/* Ancho del scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Ajusta según necesites */
}

/* Estilo de la pista (track) */
::-webkit-scrollbar-track {
  background: #868686;
  border-radius: 10px;
}

/* Estilo de la "thumb" (el deslizador) */
::-webkit-scrollbar-thumb {
  background: var(--primary-hover);
  border-radius: 10px;
}

/* Para Firefox */
/* html {
  scrollbar-width: thin;                    
  scrollbar-color: var(--primary-hover) #868686;    
} */

.paginador__botones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.paginador__boton {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.paginador__boton:hover {
  background-color: var(--primary-hover);
}

.paginador__boton-actual {
  background-color: var(--secondary);
  font-weight: bold;
}

.paginador__info {
  margin-top: 1rem !important;
  text-align: center !important;
  font-size: 1rem !important;
  margin-bottom: 2rem !important;
}